
body{
  background-color: #282c34;
  font-size: calc(5px + 2vmin);
  color: white;
}
.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10vh 45vh 45vh;

  justify-items: center;
  grid-gap: 10px; 

  /* mobile view DEFAULT*/
  grid-template-areas: "header header" "editor editor" "display display"; 
}

/* desktop view */
@media (min-width: 800px){
  .App{
  grid-template-areas: "header header" "editor display" "editor display";
  grid-template-rows: 10vh repeat(2, 2fr);

  }
  textarea{
    overflow: auto;
  }

  #preview, #editor{
    overflow: auto;
    height: 85vh; 
  }
}

#header{
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: no-wrap;
}

#editor-a{
  grid-area: editor;
  width: 90%;
}
textarea{
  background: #423;
  color: #eee;
  width: 100%;
  height: 100%;
  
}

#preview{
  background: #fff;
  border: 3px solid #645;
  color: #333;
  grid-area: display;
  width: 90%;
}

#preview img{
  max-width: 90%;
  max-height: 400px;
  height:auto;
  width: auto;
}
code{
  background: #222;
  color: limegreen;
}
blockquote{
  background: #eee;
  color: #333;
  font-style: italic;
  font-weight: bold;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
